@import '../../../mobilestyles.scss';

.popup-container {
    position: absolute;
    width: 100%;
    padding: 15px 0;
    background-color: $secondaryColor;
    border-radius: 0 0 5px 5px;
    top: -100px;
    transition: top 0.2s ease-in-out;
    .popup-message {
        text-align: center;
        color: white;
    }
}

.appear {
    top: 0;
}