@import '../../../mobilestyles.scss';

.logo-container {
    padding-top: 15vh;
    display: grid;
    place-items: center;
}

.bottom-container {
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 40px 36px;
    position: absolute;
    height: 33vh;
    min-height: 265px;
    bottom: 0;
    box-shadow: 0 3px 6px $shadowColor;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .create-account {
        background-color: $primaryColor;
        height: 56px;
        display: grid;
        place-items: center;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 0 3px 6px $shadowColor;
    }
    .login-section {
        padding-top: 6vh;
        text-align: center;
        padding-bottom: 4vh;
        .login-link {
            color: $primaryColor;
            text-decoration: underline;
        }
    }
    .download-link {
        color: $primaryColor;
        text-decoration: underline;
        text-align: center;
        padding-bottom: 4vh;
        font-weight: bold;
    }
    .terms-and-privacy {
        width: 100%;
        .terms-text {
            max-width: 87%;
            text-align: center;
            margin: auto;
            .link {
                color: $primaryColor;
            }
        }
    }
}

.login-container {
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 40px 36px;
    position: absolute;
    height: 50vh;
    bottom: 0;
    box-shadow: 0 3px 6px $shadowColor;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .login-phone, .login-pass {
        width: 100%;
        height: 48px;
        padding: 0;
        margin: 0;
        border: 1px solid $disabledColor;
        border-radius: 5px;
        margin-bottom: 12px;
    }
    .input-error {
        border: 1px solid red;
    }
    .check-icon {
        color: $negativeColor;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-form-field-flex {
        padding: 0 16px;
    }
    .login-button {
        width: 100%;
        height: 56px;
        display: grid;
        place-content: center;
        background-color: $disabledColor;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        margin-bottom: 40px;
        border: none;
    }
    .active-login-button {
        background-color: $primaryColor !important;
    }
    .forgot-link {
        text-align: center;
        color: $secondaryColor;
        font-weight: bold;
        margin-bottom: 32px;
    }
    .sign-up {
        text-align: center;
        margin-bottom: 46px;
        .sign-up-link {
            color: $primaryColor;
            text-decoration: underline;
        }
    }
    .terms-and-privacy {
        width: 100%;
        .terms-text {
            max-width: 87%;
            text-align: center;
            margin: auto;
            .link {
                color: $primaryColor;
            }
        }
    }
}

.forgot-container {
    position: absolute;
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 40px 36px;
    height: 42vh;
    bottom: 0;
    .forgot-header {
        font-size: 25px;
        color: $primaryColor;
        font-weight: bold;
        margin-bottom: 12px;
        line-height: 33px;
    }
    .forgot-text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .forgot-cancel {
        text-align: center;
        color: $primaryColor;
        text-decoration: underline;
    }
    .login-phone {
        width: 100%;
        height: 48px;
        padding: 0;
        margin: 0;
        border: 1px solid $disabledColor;
        border-radius: 5px;
        margin-bottom: 32px;
    }
    .check-icon {
        color: $negativeColor;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-form-field-flex {
        padding: 0 16px;
    }
    .login-button {
        width: 100%;
        height: 56px;
        display: grid;
        place-content: center;
        background-color: $disabledColor;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 40px;
        border: none;
    }
    .active-login-button {
        background-color: $primaryColor !important;
    }
}

.set-password-container {
    position: absolute;
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 40px 36px;
    height: 46vh;
    bottom: 0;
    .set-password-header {
        font-size: 25px;
        color: $primaryColor;
        font-weight: bold;
        margin-bottom: 12px;
        line-height: 33px;
    }
    .set-password-text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .set-password-cancel {
        text-align: center;
        color: $primaryColor;
        text-decoration: underline;
    }
    .login-phone {
        width: 100%;
        height: 48px;
        padding: 0;
        margin: 0;
        border: 1px solid $disabledColor;
        border-radius: 5px;
        margin-bottom: 32px;
    }
    .check-icon {
        color: $negativeColor;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-form-field-flex {
        padding: 0 16px;
    }
    .login-button {
        width: 100%;
        height: 56px;
        display: grid;
        place-content: center;
        background-color: $primaryColor;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 40px;
    }
}
