<section>
    <div class="logo-container">
        <img src="../../../assets/images/Group 247.svg">
    </div>
    <div class="bottom-container" [ngStyle]="{'display': active === 'default' ? 'block' : 'none'}">
        <div class="create-account" [routerLink]="['/signup', 1]">
            <span>Create a new account</span>
        </div>
        <div class="login-section">
            <span>Already have an account?</span><br>
            <span class="login-link" (click)="changePanel('login')">Log in with your email</span>
        </div>
        <div class="download-link" [routerLink]="['/downloadnow']">
            Download Now
        </div>
        <div class="terms-and-privacy">
            <div class="terms-text">By using the application, you agree to our <span class="link" [routerLink]="['/termsandconditions']">Terms & Conditions</span> and <span class="link" [routerLink]="['/privacypolicy']">Privacy Policy</span>.</div>
        </div>
    </div>
    <div class="login-container" [ngStyle]="{'display': active === 'login' ? 'block' : 'none'}">
        <div class="login-input-container">
            <form [formGroup]="loginForm" (submit)="login()">
                <mat-form-field class="login-phone" [ngClass]="{'input-error' : (loginForm.controls.login.touched && loginForm.controls.login.invalid)}">
                    <!-- <span matPrefix>+63&nbsp;</span> -->
                    <input matInput formControlName="login" type="text" required/>
                    <mat-icon *ngIf="loginForm.controls.login.value && loginForm.controls.login.value.length > 10" matSuffix class="check-icon">check_circle</mat-icon>
                </mat-form-field>
                <mat-form-field class="login-pass">
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon class="password-hide" matSuffix (click)="togglePasswordVisible()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <button class="login-button" [ngClass]="{'active-login-button': loginForm.valid}" type="submit">
                    Log in
                </button>
            </form>
        </div>
        <div class="forgot-link" (click)="changePanel('forgot')">
            <div>Forgot Password?</div>
        </div>
        <div class="sign-up">
            <span>No account? </span><span class="sign-up-link" [routerLink]="['/signup', 1]">Sign up</span>
        </div>
        <div class="terms-and-privacy">
            <div class="terms-text">By using the application, you agree to our <span class="link" [routerLink]="['/termsandconditions']">Terms & Conditions</span> and <span class="link" [routerLink]="['/privacypolicy']">Privacy Policy</span>.</div>
        </div>
    </div>
    <div class="forgot-container" [ngStyle]="{'display': active === 'forgot' ? 'block' : 'none'}">
        <form [formGroup]="forgotForm" (submit)="resetRequest()">
            <div class="forgot-header">Forgot Password</div>
            <div class="forgot-text">A link to help you reset your password will be sent to this email address. Kindly verify.</div>
            <mat-form-field class="login-phone" [ngClass]="{'input-error' : (forgotForm.controls.email.touched && forgotForm.controls.email.invalid)}">
                <input matInput formControlName="email" type="text" required/>
                <mat-icon matSuffix *ngIf="forgotForm.controls.email.value && forgotForm.valid" class="check-icon">check_circle</mat-icon>
            </mat-form-field>
            <button class="login-button" [ngClass]="{'active-login-button': forgotForm.valid}" type="submit">
                Send reset password link
            </button>
            <div class="forgot-cancel" (click)="changePanel('login')">Cancel</div>
        </form>
    </div>
    <div class="set-password-container" [ngStyle]="{'display': active === 'setpassword' ? 'block' : 'none'}">
        <div class="set-password-header">Set Password</div>
        <div class="set-password-text">Your profile already exists, but you just need to set up your password. A link to help you set your password will be sent to this mobile number. Kindly verify.</div>
        <mat-form-field class="login-phone">
            <span matPrefix>+63&nbsp;</span>
            <input matInput type="number" required/>
            <mat-icon matSuffix class="check-icon">check_circle</mat-icon>
        </mat-form-field>
        <div class="login-button">
            <span>Send password link</span>
        </div>
        <div class="set-password-cancel">Cancel</div>
    </div>
</section>
