@import '../../../mobilestyles.scss';

.account-container img {
    position: absolute;
    top: 24px;
    right: 36px;
    height: 25px;
}
.account-container .account-sign-out {
    position: absolute;
    top: 24px;
    left: 36px;
    line-height: 25px;
    font-size: 16px;
    color: $secondaryColor;
    fa-icon {
        margin-right: 4px;
    }
}
.account-sub-container {
    position: absolute;
    top: 10vh;
    background-color: white;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding-bottom: 78px;
}

.main-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 73px;
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px;
    border-top: 1px solid $disabledColor;
    background-color: white;
    .footer-qr, .footer-account {
        padding-top: 10px;
        font-size: 10px;
        display: grid;
        place-content: initial;
        text-align: center;
        color: $secondaryColor;
        border-top: 2px solid $secondaryColor;
        fa-icon {
            font-size: 22px;
            margin: auto;
        }
    }
    .footer-qr {
        color: $disabledColor;
        border-top: none;
    }
}

.test-tabs {
    display: grid;
    grid-template-columns: 36px 1fr 1fr 36px;
    text-align: center;
    padding-top: 30px;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px solid $borderColor;
    .account-profile, .account-test {
        padding-bottom: 8px;
        border-bottom: none;
    }
    .account-test {
        border-bottom: 1px solid $secondaryColor;
    }
    .account-profile {
        border-bottom: none;
    }
}

.account-pages {
    overflow-x: hidden;
}

// .profile-page {
//     padding: 30px 36px;
//     position: relative;
//     .profile-edit {
//         text-align: right;
//         font-size: 13px;
//         line-height: 18px;
//         fa-icon {
//             margin-right: 2px;
//         }
//     }
//     .profile-header {
//         font-size: 14px;
//         line-height: 19px;
//         color: $secondaryColor;
//         margin-bottom: 8px;
//     }
//     .profile-input {
//         width: 100%;
//         height: 48px;
//         padding: 0;
//         margin: 0;
//         border: 1px solid $disabledColor;
//         border-radius: 5px;
//         margin-bottom: 12px;
//     }
//     .check-icon {
//         color: $negativeColor;
//     }
//     .mat-form-field-underline {
//         display: none;
//     }
//     .mat-form-field-flex {
//         padding: 0 16px;
//     }
//     .profile-id {
//         min-height: 220px;
//         background-color: $bgColor;
//         border-radius: 5px;
//         border: 1px solid $disabledColor;
//         display: grid;
//         place-content: center;
//         .profile-id-text {
//             height: 48px;
//             width: 200px;
//             border: 2px solid $primaryColor;
//             border-radius: 5px;
//             line-height: 48px;
//             text-align: center;
//             color: $primaryColor;
//             font-weight: bold;
//             .camera-icon {
//                 top: 7px;
//                 position: relative;
//                 margin-right: 8px;
//             }
//         }
//     }
// }

.test-page {
    padding: 40px 36px;
    .test-details {
        padding: 20px;
        background-color: $secondaryColor;
        color: white;
        border-radius: 10px 10px 0 0;
        .test-name {
            font-size: 25px;
            line-height: 33px;
            margin-bottom: 8px;
        }
        .test-address, .test-phone {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .test-results-details {
        padding: 20px;
        border: 1px solid $tertiaryColor;
        border-radius: 0 0 10px 10px;
        .test-result-recent {
            padding-bottom: 20px;
            border-bottom: 1px solid $borderColor;
            .test-results {
                color: $tertiaryColor;
                font-size: 25px;
                line-height: 33px;
                margin-bottom: 8px;
                font-weight: bold;
            }
            .test-type, .test-date {
                font-size: 16px;
                line-height: 24px;
            }
            .test-type {
                font-weight: bold;
            }
        }
        .test-result-second {
            padding-top: 20px;
            .test-results, .test-type, .test-date {
                font-size: 16px;
                line-height: 24px;
            }
            .test-results {
                color: $tertiaryColor;
                font-weight: bold;
            }
            .test-type {
                font-weight: bold;
            }
        }
    }
    .test-refresh {
        color: $secondaryColor;
        text-align: center;
        margin-top: 24px;
    }
}

.positive-bg {
    background-color: $positiveResult !important;
}
.positive-text {
    color: $positiveResult !important;
}
.positive-border {
    border-color: $positiveResult !important;
}
.negative-bg {
    background-color: $negativeResult !important;
}
.negative-text {
    color: $negativeResult !important;
}
.negative-border {
    border-color: $negativeResult !important;
}
.untested-bg {
    background-color: $secondaryColor !important;
}
.untested-text {
    color: $secondaryColor !important;
}
.untested-border {
    border-color: $secondaryColor !important;
}