<section>
    <div class="account-container">
        <img src="../../../assets/images/Group 249.svg">
        <div class="account-sub-container">
            <div class="account-pages">
                <div class="account-pages-container">
                    <div class="test-page">
                        <div class="test-details" [ngClass]="(latestResult === 1) ? 'negative-bg' : (latestResult === 0) ? 'positive-bg' : 'untested-bg'">
                            <div class="test-name">{{testResults[0].firstname}} {{testResults[0].lastname}}</div>
                            <div class="test-phone">{{testResults[0].contact_number}}</div>
                        </div>
                        <div class="test-results-details" [ngClass]="(latestResult === 1) ? 'negative-border' : (latestResult === 0) ? 'positive-border' : 'untested-border'">
                            <div class="test-result-recent" *ngIf="latestResult < 2">
                                <div *ngIf="latestResult === 1" class="test-results negative-text"><fa-icon [icon]="minus"></fa-icon> NEGATIVE</div>
                                <div *ngIf="latestResult === 0" class="test-results positive-text"><fa-icon [icon]="plus"></fa-icon> POSITIVE</div>
                                <div class="test-type">{{testResults[0].test}}</div>
                                <div class="test-date">{{testResults[0].date_recorded}}</div>
                            </div>
                            <div class="test-result-second" *ngIf="testResults[1]">
                                <div *ngIf="testResults[1].is_safe === 1" class="test-results negative-text">NEGATIVE</div>
                                <div *ngIf="testResults[1].is_safe === 0" class="test-results positive-text">POSITIVE</div>
                                <div class="test-type">{{testResults[1].test}}</div>
                                <div class="test-date">{{testResults[1].date_recorded}}</div>
                            </div>
                            <div class="test-result-recent" *ngIf="latestResult === 2">
                                <div class="test-results untested-text"><fa-icon [icon]="untested"></fa-icon> NOT TESTED</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>