<section>
    <div class="admin-logo-container">
        <img src="../../../assets/images/Group 247.svg">
    </div>
    <div class="admin-login-container">
        <form [formGroup]="adminLogin" (submit)="login()">
            <mat-form-field class="login-phone" [ngClass]="{'input-error' : (adminLogin.controls.login.touched && adminLogin.controls.login.invalid)}">
                <input matInput formControlName="login" type="text" required/>
                <mat-icon *ngIf="adminLogin.controls.login.value && adminLogin.controls.login.value.length > 10" matSuffix class="check-icon">check_circle</mat-icon>
            </mat-form-field>
            <mat-form-field class="login-pass">
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                <mat-icon class="password-hide" matSuffix (click)="togglePasswordVisible()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <button class="login-button" [ngClass]="{'active-login-button': adminLogin.valid}" type="submit">
                Log in
            </button>
        </form>
    </div>
</section>
