@import "../../../adminstyles.scss";

.admin-logo-container {
    padding-top: 15vh;
    text-align: center;
}

.admin-login-container {
    width: 40vw;
    max-width: 315px;
    margin: auto;
    margin-top: 10vh;
    padding: 50px;
    border: 1px solid $borderColor;
    border-radius: 10px;
    box-shadow: 0px 0px 6px $borderColor;
    .login-phone, .login-pass {
        width: 100%;
        height: 48px;
        padding: 0;
        margin: 0;
        border: 1px solid $disabledColor;
        border-radius: 5px;
        margin-bottom: 12px;
        .mat-input-element {
            font-family: Roboto !important;
        }
    }
    .input-error {
        border: 1px solid red;
    }
    .check-icon {
        color: $negativeColor;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-form-field-flex {
        padding: 0 16px;
    }
    .login-button {
        width: 100%;
        height: 56px;
        display: grid;
        place-content: center;
        background-color: $disabledColor;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        border: none;
        font-family: Roboto !important;
        cursor: pointer;
    }
    .active-login-button {
        background-color: $primaryColor !important;
    }
}