<section>
    <div class="main-container">
        <div (click)="back()" class="backArrow"><fa-icon [icon]="backArrow"></fa-icon></div>
        <img src="../../../assets/images/Group 249.svg">
        <div class="cancelButton" (click)="cancel()"><fa-icon [icon]="cancelButton"></fa-icon></div>
        <div class="sign-up-container">
            <div class="sign-up-header">
                Sign Up
            </div>
            <div class="sign-up-progression" [ngStyle]="{'width': stepwidth + '%'}">&nbsp;</div>
            <div class="sign-up-step-marker" [ngStyle]="{'left': stepwidth + '%', 'margin-left': page === 7 ? '-65px' : '-20px'}">{{page}} of 4</div>
            <div class="sign-up-steps">
                <div class="sign-up-steps-row">
                    <form [formGroup]="signupForm">
                        <div *ngIf="page === 1" class="sign-up-step-2">
                            <div class="sign-up-step-2-header">Email Address</div>
                            <mat-form-field class="login-phone">
                                <input formControlName="email" matInput type="text" (keyup)="validCheck()" required/>
                                <mat-icon *ngIf="signupForm.controls.email.valid" matSuffix class="check-icon">check_circle</mat-icon>
                            </mat-form-field>
                        </div>
                        <div *ngIf="page === 2" class="sign-up-step-2">
                            <div class="sign-up-step-2-header">Mobile Number</div>
                            <mat-form-field class="login-phone" floatLabel='never'>
                                <input formControlName="mobile" placeholder="09123456789" matInput type="tel" (keyup)="validCheck()" required/>
                                <mat-icon matSuffix *ngIf="valid" class="check-icon">check_circle</mat-icon>
                            </mat-form-field>
                        </div>
                        <div *ngIf="page === 3" class="sign-up-step-3">
                            <div class="sign-up-step-3-header">Password</div>
                            <mat-form-field class="login-pass">
                                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" (keyup)="validCheck()" required>
                                <mat-icon class="password-hide" matSuffix (click)="togglePasswordVisible()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                            <div class="sign-up-step-3-undertext">Minimum of 8 alphanumeric characters.</div>
                        </div>
                        <div *ngIf="page === 4" class="sign-up-step-4">
                            <div class="sign-up-step-4-header">First Name</div>
                            <mat-form-field class="login-phone">
                                <input formControlName="firstName" matInput (keyup)="validCheck()" required >
                            </mat-form-field>
                            <div class="sign-up-step-4-header">Last Name</div>
                            <mat-form-field class="login-phone">
                                <input formControlName="lastName" matInput (keyup)="validCheck()" required >
                            </mat-form-field>
                        </div>
                        <div *ngIf="page === 5" class="sign-up-step-5">
                            <div class="sign-up-step-5-header">Date of Birth</div>
                            <mat-form-field class="login-phone">
                                <input formControlName="dob" matInput (keyup)="validCheck()" (dateChange)="validCheck()" [matDatepicker]="picker" required readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div *ngIf="page === 6" class="sign-up-step-7">
                            <div class="sign-up-step-7-header">National ID / Passport Type</div>
                            <mat-form-field class="login-phone">
                                <mat-select formControlName="idType">
                                    <mat-option value="passport">Passport</mat-option>
                                    <mat-option value="philhealth">PhilHealth</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="sign-up-step-7-header">National ID / Passport Number</div>
                            <mat-form-field class="login-phone">
                                <input formControlName="idNum" matInput (keyup)="validCheck()" required>
                            </mat-form-field>
                            <!-- <div class="sign-up-step-7-header">Picture of National ID / Passport</div>
                            <div class="sign-up-step-7-img">
                                <div *ngIf="photo" (click)="file.click()" class="sign-up-step-7-img-container">
                                    <img [src]="photo">
                                </div>
                                <input class="sign-up-step-7-upload" type="file" accept="image/*" #file (change)="upload(file.files)">
                                <div (click)="file.click()" *ngIf="photo === null" class="sign-up-step-7-img-text"><mat-icon class="camera-icon">camera_alt</mat-icon>Picture ID</div>
                            </div> -->
                        </div>
                        <div *ngIf="page === 7" class="sign-up-step-6">
                            <ng-otp-input
                                class="sign-up-otp"
                                [config]="{length: 4}"
                                (onInputChange)="testOTP($event)"
                            ></ng-otp-input>
                        </div>
                    </form>
                </div>
            </div>
            <div class="sign-up-next-container">
                <div class="sign-up-next" [ngClass]="{'sign-up-next-active': valid, 'spinner': loading}" (click)="next()">{{buttonText}}</div>
            </div>
        </div>
    </div>
</section>
