@import '../../../mobilestyles.scss';

.main-container img {
    position: absolute;
    top: 24px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 25px;
}
.backArrow {
    position: absolute;
    top: 24px;
    left: 24px;
    font-size: 24px;
    color: $secondaryColor;
}
.cancelButton {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 24px;
    color: $secondaryColor;
}
.sign-up-container {
    position: absolute;
    top: 10vh;
    height: 90vh;
    background-color: white;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow-x: hidden;
    .sign-up-header {
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
        color: $primaryColor;
        line-height: 26px;
        padding-bottom: 25px;
        border-bottom: 1px solid $disabledColor;
    }
    .sign-up-progression {
        border-top: 3px solid $tertiaryColor;
        position: relative;
        top: -2px;
        height: 1px;
    }
    .sign-up-step-marker {
        font-size: 12px;
        line-height: 16px;
        margin-top: 5px;
        position: relative;
        margin-left: -20px;
        color: $secondaryColor;
    }
    .sign-up-steps {
        overflow-x: hidden;
        position: relative;
        min-height: 50vh;
        max-height: 60vh;
        // .sign-up-steps-row {
        //     display: grid;
        //     grid-template-columns: 100vw 100vw 100vw 100vw 100vw 100vw;
        //     position: absolute;
        //     top: 0;
        //     // left: 0;
        // }
    }
    .sign-up-step-1 {
        padding: 40px 36px;
        .sign-up-step-1-header {
            font-size: 14px;
            line-height: 19px;
            color: $primaryColor;
            margin-bottom: 16px;
            padding-left: 8px;
        }
        .input-container {
            height: 56px;
            line-height: 56px;
            padding-left: 16px;
            border-radius: 5px;
            margin-bottom: 20px;
            border: 1.5px solid transparent;
            input {
                height: 24px;
                width: 24px;
                top: 6px;
                position: relative;
            }
            label {
                padding-left: 12px;
                font-size: 16px;
            }
        }
        .input-selected {
            border: 1.5px solid $primaryColor;
        }
        .mat-form-field-underline {
            display: none;
        }
        .mat-form-field-flex {
            padding: 0 16px;
        }
        .mat-form-field-infix {
            border: none;
            padding: 15px 0;
        }
    }
    .sign-up-step-2 {
        padding: 40px 36px;
        .sign-up-step-2-header {
            font-size: 14px;
            line-height: 19px;
            color: $primaryColor;
            margin-bottom: 8px;
        }
        .login-phone {
            width: 100%;
            height: 48px;
            padding: 0;
            margin: 0;
            border: 1px solid $disabledColor;
            border-radius: 5px;
            margin-bottom: 12px;
        }
        .check-icon {
            color: $negativeColor;
            position: relative;
            top: 6px;
        }
        .mat-form-field-underline {
            display: none;
        }
        .mat-form-field-flex {
            padding: 0 16px;
        }
        .mat-form-field-underline {
            display: none;
        }
        .mat-form-field-flex {
            padding: 0 16px;
        }
        .mat-form-field-infix {
            border: none;
            padding: 15px 0;
        }
        .mat-form-field-required-marker {
            display: none;
        }
        .mat-form-field-label {
            padding-top: 8px;
            color: rgba(0,0,0,0.54);
        }
    }
    .sign-up-step-3 {
        padding: 40px 36px;
        .sign-up-step-3-header {
            font-size: 14px;
            line-height: 19px;
            color: $primaryColor;
            margin-bottom: 8px;
        }
        .login-pass {
            width: 100%;
            height: 48px;
            padding: 0;
            margin: 0;
            border: 1px solid $disabledColor;
            border-radius: 5px;
            margin-bottom: 8px;
            mat-icon {
                position: relative;
                top: 6px;
            }
        }
        .mat-form-field-underline {
            display: none;
        }
        .mat-form-field-flex {
            padding: 0 16px;
        }
        .sign-up-step-3-undertext {
            font-size: 14px;
            line-height: 19px;
            color: $textColor;
        }
        .mat-form-field-underline {
            display: none;
        }
        .mat-form-field-flex {
            padding: 0 16px;
        }
        .mat-form-field-infix {
            border: none;
            padding: 15px 0;
        }
    }
    .sign-up-step-4 {
        padding: 40px 36px;
        .sign-up-step-4-header {
            font-size: 14px;
            line-height: 19px;
            color: $primaryColor;
            margin-bottom: 8px;
        }
        .mat-form-field-underline {
            display: none;
        }
        .mat-form-field-flex {
            padding: 0 16px;
        }
        .mat-form-field-infix {
            border: none;
            padding: 15px 0;
        }
        .login-phone {
            width: 100%;
            height: 48px;
            padding: 0;
            margin: 0;
            border: 1px solid $disabledColor;
            border-radius: 5px;
            margin-bottom: 20px;
        }
    }
    .sign-up-step-5 {
        padding: 40px 36px;
        .sign-up-step-5-header {
            font-size: 14px;
            line-height: 19px;
            color: $primaryColor;
            margin-bottom: 8px;
        }
        .login-phone {
            width: 100%;
            height: 48px;
            padding: 0;
            margin: 0;
            border: 1px solid $disabledColor;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .mat-form-field-underline {
            display: none;
        }
        .mat-form-field-flex {
            padding: 0 16px;
        }
        .mat-form-field-infix {
            border: none;
            padding: 15px 0;
        }
    }
    .sign-up-step-6 {
        padding: 40px 36px;
        .sign-up-otp {
            display: grid;
            place-content: center;
        }
        .sign-up-step-6-header-1 {
            font-size: 16px;
            line-height: 21px;
            color: $primaryColor;
            margin-bottom: 16px;
        }
        .sign-up-step-6-header {
            font-size: 14px;
            line-height: 19px;
            color: $primaryColor;
            margin-bottom: 8px;
        }
        .login-phone {
            width: 100%;
            height: 48px;
            padding: 0;
            margin: 0;
            border: 1px solid $disabledColor;
            border-radius: 5px;
            margin-bottom: 20px;
        }
    }
    .sign-up-step-7 {
        padding: 40px 36px;
        .sign-up-step-7-header {
            font-size: 14px;
            line-height: 19px;
            color: $primaryColor;
            margin-bottom: 8px;
        }
        .login-phone {
            width: 100%;
            height: 48px;
            padding: 0;
            margin: 0;
            border: 1px solid $disabledColor;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .mat-form-field-underline {
            display: none;
        }
        .mat-form-field-flex {
            padding: 0 16px;
        }
        .mat-form-field-infix {
            border: none;
            padding: 15px 0;
        }
        .sign-up-step-7-img {
            min-height: 220px;
            background-color: $bgColor;
            border-radius: 5px;
            border: 1px solid $disabledColor;
            display: grid;
            place-content: center;
            position: relative;
            .sign-up-step-7-img-container {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                img {
                    position: relative;
                    top: 0;
                    left: 0;
                    height: auto;
                    width: 100%;
                }
            }
            .sign-up-step-7-upload {
                display: none;
            }
            .sign-up-step-7-img-text {
                height: 48px;
                width: 200px;
                border: 2px solid $primaryColor;
                border-radius: 5px;
                line-height: 48px;
                text-align: center;
                color: $primaryColor;
                font-weight: bold;
                .camera-icon {
                    top: 7px;
                    position: relative;
                    margin-right: 8px;
                }
            }
        }
    }
    .sign-up-next-container {
        position: absolute;
        bottom: 48px;
        width: 100%;
        text-align: center;
        .sign-up-next {
            height: 56px;
            margin: 0 36px;
            background-color: $disabledColor;
            line-height: 56px;
            color: white;
            border-radius: 5px;
        }
        .sign-up-next-active {
            background-color: $primaryColor !important;
        }
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}