<section>
    <div class="account-container">
        <img src="../../../assets/images/Group 249.svg">
        <div class="account-sub-container">
            <div class="account-pages">
                <div class="account-pages-container">
                    <div class="test-page">
                        <div class="test-details" [ngClass]="(testResults.is_safe === 1) ? 'negative-bg' : (testResults.is_safe === 0) ? 'positive-bg' : 'untested-bg'">
                            <div class="test-name">{{testResults.firstname}} {{testResults.lastname}}</div>
                            <div class="test-phone">{{testResults.contact_number}}</div>
                        </div>
                        <div class="test-results-details" [ngClass]="(testResults.is_safe === 1) ? 'negative-border' : (testResults.is_safe === 0) ? 'positive-border' : 'untested-border'">
                            <div class="test-result-recent" *ngIf="testResults.is_safe < 2">
                                <div *ngIf="testResults.is_safe === 1" class="test-results negative-text"><fa-icon [icon]="minus"></fa-icon> NEGATIVE</div>
                                <div *ngIf="testResults.is_safe === 0" class="test-results positive-text"><fa-icon [icon]="plus"></fa-icon> POSITIVE</div>
                                <div class="test-type">{{testResults.virus}}</div>
                                <div class="test-type">{{testResults.test}}</div>
                                <div class="test-date">{{testResults.date_recorded}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>