@import "../../../adminstyles.scss";

.dashboard-header {
    height: 5vh;
    padding: 10px;
    background-color: $primaryColor;
    display: grid;
    grid-template-columns: 200px 10px 1fr;
    img {
        height: 5vh;
        background-color: white;
        padding: 10px 10px 10px 10px;
        margin-top: -10px;
        margin-left: -10px;
    }
    .tabs {
        display: grid;
        grid-template-columns: 10vw 10px 10vw 10px 10vw 1fr;
        margin-top: 10px;
        .tab {
            color: white;
            display: grid;
            place-content: center;
            cursor: pointer;
        }
        .selected {
            background-color: $secondaryColor;
            border-radius: 10px 10px 0 0;
        }
    }
}
.dashboard-selected {
    background-color: $secondaryColor;
    height: 10px;
}
.dashboard-content {
    margin-top: 1vh;
    width: 90%;
    margin-left: 5%;
    font-family: Roboto;
    .dashboard-search-container {
        background-color: $bgColor;
        padding: 10px;
        border-radius: 5px;
        .dashboard-search-label {
            margin-bottom: 5px;
            margin-left: 5px;
        }
        .dashboard-search {
            width: 90%;
            height: 44px;
            padding: 2px 10px;
            font-size: 24px;
            border: 1px solid $borderColor;
            border-radius: 8px;
        }
        .search-icon {
            margin-left: -40px;
            font-size: 24px;
            color: $textColor;
            cursor: pointer;
        }
    }
    
    .dashboard-data {
        width: 100%;
        margin-top: 1vh;
        .dashboard-data-header {
            display: grid;
            grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
            background-color: $secondaryColor;
            color: white;
            padding: 10px;
            border-radius: 5px 5px 0 0;
        }
        .dashboard-results {
            height: 53vh;
            position: relative;
            .no-result {
                text-align: center;
                margin-top: 10px;
                font-size: 18px;
            }
            .result-card {
                padding: 0 10px;
                border: 1px solid $bgColor;
                display: grid;
                grid-template-columns: 15vw 15vw 15vw 25vw 1fr 1fr;
                cursor: pointer;
                div {
                    padding: 10px 0;
                }
                &:hover {
                    background-color: $borderColor;
                }
                .results-card-edit, .results-card-delete {
                    background-color: $primaryColor;
                    width: fit-content;
                    padding: 2px 6px;
                    border-radius: 10px;
                    color: white;
                    font-size: 14px;
                    line-height: 19px;
                    margin: auto;
                }
                .results-card-delete {
                    background-color: $positiveResult;
                }
            }
            .odd {
                background-color: $bgColor;
            }
            .pages {
                display: inline-flex;
                float: right;
                position: relative;
                margin: 20px 0;
                .page-numbers {
                    margin: 0 5px;
                    height: 25px;
                    width: 25px;
                    text-align: center;
                    line-height: 25px;
                    border-radius: 25px;
                    box-shadow: 1px 1px 6px $disabledColor;
                    cursor: pointer;
                    color: $disabledColor;
                }
                .current {
                    border: 1px solid $secondaryColor;
                    color: $secondaryColor;
                }
            }
        }
        .delete-user-modal {
            position: absolute;
            top: 0;
            left: 0;
            .modal-bg {
                position: relative;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0,0,0,0.5);
            }
            .delete-user-modal-container {
                position: absolute;
                height: 10vh;
                top: 45vh;
                width: 50vw;
                left: 25vw;
                background-color: white;
                border-radius: 10px;
                padding: 30px;
                font-family: Roboto;
                .container-header {
                    font-size: 20px;
                    line-height: 24px;
                }
                .container-buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 50%;
                    margin-left: 50%;
                    margin-top: 3vh;
                    .delete-button, .cancel-button {
                        background-color: $positiveResult;
                        width: fit-content;
                        padding: 10px 23px;
                        border-radius: 10px;
                        color: white;
                        margin-left: auto;
                        cursor: pointer;
                    }
                    .cancel-button {
                        background-color: $disabledColor;
                        margin: auto;
                    }
                }
            }
        }
        .edit-user-modal {
            position: absolute;
            top: 0;
            left: 0;
            .modal-bg {
                position: relative;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0,0,0,0.5);
            }
            .edit-user-modal-container {
                position: absolute;
                height: 42vh;
                top: 29vh;
                width: 50vw;
                left: 25vw;
                background-color: white;
                border-radius: 10px;
                padding: 30px;
                z-index: 1;
                .edit-user-data {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    .edit-user-info {
                        margin: 20px 0;
                        label {
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 24px;
                        }
                        input {
                            margin-top: 5px;
                            width: 85%;
                            height: 20px;
                            font-size: 18px;
                            border: 1px solid $disabledColor;
                            border-radius: 5px;
                        }
                        .download-toggle.mat-checked {
                            .mat-slide-toggle-bar {
                                background-color: $disabledColor;
                            }
                            .mat-slide-toggle-thumb {
                                background-color: $primaryColor;
                            }
                        }
                    }
                }
                .container-buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 50%;
                    margin-left: 50%;
                    margin-top: 3vh;
                    .edit-button, .cancel-button {
                        background-color: $primaryColor;
                        width: fit-content;
                        padding: 10px 23px;
                        border-radius: 10px;
                        color: white;
                        margin-left: auto;
                        cursor: pointer;
                    }
                    .cancel-button {
                        background-color: $disabledColor;
                        margin: auto;
                    }
                }
            }
        }
        .dashboard-modal {
            position: absolute;
            top: 0;
            left: 0;
            .modal-bg {
                position: relative;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0,0,0,0.5);
            }
            .modal-container {
                position: absolute;
                height: 75vh;
                top: 12vh;
                width: 50vw;
                left: 25vw;
                background-color: white;
                border-radius: 10px;
                padding: 30px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 20vh 1fr 70px;
                .user-details {
                    font-size: 20px;
                    line-height: 24px;
                    // margin-top: 37px;
                    border-bottom: 1px solid $borderColor;
                    margin-bottom: 10px;
                    .user-details-name {
                        font-weight: bold;
                    }
                    div {
                        margin-bottom: 5px;
                    }
                }
                .modal-close {
                    border-bottom: 1px solid $borderColor;
                    margin-bottom: 10px;
                    position: relative;
                    .close {
                        float: right;
                        font-size: 32px;
                        cursor: pointer;
                    }
                    .user-details-edit {
                        position: absolute;
                        left: 0;
                        bottom: 15px;
                        padding: 10px 23px;
                        background-color: $primaryColor;
                        border-radius: 10px;
                        color: white;
                        cursor: pointer;
                    }
                }
                .user-results {
                    .user-results-header {
                        margin-bottom: 15px;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: bold;
                    }
                    .user-results-card {
                        padding: 10px;
                        border: 1px solid $borderColor;
                        border-radius: 10px;
                        margin-bottom: 5px;
                        cursor: pointer;
                        .card-detail {
                            display: grid;
                            grid-template-columns: 20% 1fr;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                    .selected-card {
                        background-color: $secondaryColor;
                        border-radius: 10px 0 0 10px;
                        color: white;
                        border: 1px solid $secondaryColor;
                    }
                }
                .user-test {
                    margin-top: 20px;
                    padding: 30px;
                    background-color: $secondaryColor;
                    border-radius: 10px 10px 0 0;
                    color: white;
                    select, input {
                        width: 80%;
                        height: 32px;
                        font-size: 20px;
                        text-align: center;
                        margin-bottom: 15px;
                        border-radius: 5px;
                    }
                    button {
                        width: 80%;
                        height: 56px;
                        display: grid;
                        place-content: center;
                        background-color: $primaryColor;
                        border-radius: 5px;
                        color: white;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                    }
                    .cancel-button {
                        margin-bottom: 20px;
                        background-color: $disabledColor;
                    }
                    .download-toggle {
                        margin-top: 5px;
                    }
                    .download-toggle.mat-checked {
                        .mat-slide-toggle-bar {
                            background-color: $disabledColor;
                        }
                        .mat-slide-toggle-thumb {
                            background-color: $primaryColor;
                        }
                    }
                }
                .download-button {
                    font-size: 14px;
                    padding: 10px 15px;
                    background-color: $primaryColor;
                    border-radius: 10px;
                    color: white;
                    width: fit-content;
                    margin-top: 10px;
                    cursor: pointer;
                }
                .faded-text {
                    color: rgba(255, 255, 255, 0.5);
                }
                .download-spinner {
                    border: 4px solid #f3f3f3;
                    border-top: 4px solid $secondaryColor;
                    border-radius: 50%;
                    width: 13px;
                    height: 13px;
                    animation: spin 1.5s linear infinite;
                    position: relative;
                    top: -30px;
                    left: 23%;
                }
                @keyframes spin {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
                }
                .result-button-container, .final-button-container {
                    .add-new-result {
                        height: 50px;
                        border-radius: 10px;
                        background-color: $primaryColor;
                        color: white;
                        font-size: 16px;
                        border: none;
                        width: 80%;
                        cursor: pointer;
                        margin-top: 10px;
                        margin-left: 10%;
                    }
                    .unselect {
                        background-color: $disabledColor;
                    }
                }
                .select-add {
                    background-color: $secondaryColor;
                    border-radius: 10px 0 0 10px;
                }
                .final-button-container {
                    background-color: $secondaryColor;
                    border-radius: 0 0 10px 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                .delete-result {
                    background-color: $positiveResult !important;
                }
            }
        }
        .dashboard-edituser {
            margin-left: 5vw;
            padding: 10px;
            .user-name, .user-mobile, .user-email {
                font-size: 18px;
                line-height: 28px;
            }
            .recent-test-results {
                .no-results {
                    margin-bottom: 10px;
                    font-weight: bold;
                }
                button {
                    width: 80%;
                    height: 56px;
                    display: grid;
                    place-content: center;
                    background-color: $primaryColor;
                    border-radius: 5px;
                    color: white;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                }
                .recent-title {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .test-result-card {
                    border: 1px solid $borderColor;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    display: grid;
                    grid-template-columns: 85% 1fr;
                    .card-details {
                        padding: 10px;
                        div {
                            margin-bottom: 5px;
                        }
                    }
                    .card-edit {
                        background-color: $disabledColor;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        display: grid;
                        align-items: center;
                        .edit-link {
                            font-size: 32px;
                            line-height: 60px;
                            text-align: center;
                        }
                        &:hover {
                            background-color: $primaryColor;
                            color: white;
                            cursor: pointer;
                        }
                    }
                    width: 80%;
                }
            }
            .test-details {
                margin-top: 20px;
                select, input {
                    width: 80%;
                    height: 32px;
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 15px;
                }
                button {
                    width: 80%;
                    height: 56px;
                    display: grid;
                    place-content: center;
                    background-color: $primaryColor;
                    border-radius: 5px;
                    color: white;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                }
                .cancel-button {
                    margin-bottom: 20px;
                    background-color: $disabledColor;
                }
            }
        }
    }
}