<section>
    <div class="dashboard-header">
        <img src="../../../assets/images/Group 247.svg">
        <div class="tabs">
            <div class="tab tab-testresult selected">
                Test Results
            </div>
            <div></div>
            <div class="tab tab-reports">
                Reports
            </div>
            <div></div>
            <div class="tab tab-account" [routerLink]="['/adminaccount']">
                Account
            </div>
        </div>
    </div>
    <div class="dashboard-selected"></div>
    <div class="dashboard-content">
        <div class="dashboard-search-container">
            <div class="dashboard-search-label">Search User:</div>
            <input [(ngModel)]="query" class="dashboard-search" placeholder="Search user" (input)="detectEmpty()" (keyup.enter)="searchUser($event.target.value)"><fa-icon class="search-icon" (click)="searchUser(query)" [icon]="searchIcon"></fa-icon>
        </div>
        <div class="dashboard-data">
            <div class="dashboard-data-header">
                <div class="header">First Name</div>
                <div class="header">Last Name</div>
                <div class="header">Mobile Number</div>
                <div class="header">Email Address</div>
            </div>
            <div class="dashboard-results">
                <div class="no-result" *ngIf="users.length === 0">{{resultMessage}}</div>
                <div class="result-card" [ngClass]="{'odd' : i % 2 === 1}" *ngFor="let item of users; let i = index">
                    <div (click)="toggleModal(true, i)">{{item.firstname}}</div>
                    <div (click)="toggleModal(true, i)">{{item.lastname}}</div>
                    <div (click)="toggleModal(true, i)">{{item.contact_number}}</div>
                    <div (click)="toggleModal(true, i)">{{item.email}}</div>
                    <div (click)="toggleModal(true, i)" class="results-card-edit">Edit User</div>
                    <div class="results-card-delete" (click)="deleteUser(i)">Delete User</div>
                </div>
                <div class="pages">
                    <div class="page-numbers" *ngIf="currentPage > 1" (click)="changePage(1)"><<</div>
                    <div class="page-numbers" *ngIf="currentPage > 1" (click)="changePage(currentPage - 1)"><</div>
                    <div *ngFor="let i of [].constructor(totalPages); let j = index">
                        <div class="page-numbers" *ngIf="j >= (currentPage - 5) && j < (currentPage + 5)" (click)="changePage(j + 1)" [ngClass]="{'current': j + 1 === currentPage}">{{j + 1}}</div>
                    </div>
                    <div class="page-numbers" *ngIf="currentPage < totalPages" (click)="changePage(currentPage + 1)">></div>
                    <div class="page-numbers" *ngIf="currentPage < totalPages" (click)="changePage(totalPages)">>></div>
                </div>
            </div>
            <div class="dashboard-modal" *ngIf="showModal">
                <div class="modal-bg" (click)="toggleModal(false, null)"></div>
                <div class="modal-container">
                    <div class="user-details">
                        <div class="user-details-name">{{active.firstname}} {{active.lastname}}</div>
                        <div class="user-details-mobile">Contact: {{active.contact_number}}</div>
                        <div class="user-details-email">{{active.email}}</div>
                        <div class="user-details-bday" *ngIf="active.birthday != 'Invalid date'">Birthday: {{active.birthday}}</div>
                        <div class="user-details-bday" *ngIf="active.birthday === 'Invalid date'">No Birthday Information</div>
                        <div class="user-details-passport" *ngIf="active.valid_id != null">ID: {{active.valid_id}}</div>
                        <div class="user-details-passport" *ngIf="active.valid_id === null">No ID Information</div>
                        <div class="user-details-prc" *ngIf="active.prc_number != null && isAdmin">{{active.prc_number}}</div>
                        <div class="user-details-prc" *ngIf="active.prc_number === null && isAdmin">No PRC Information</div>
                    </div>
                    <div class="modal-close">
                        <span class="close"><fa-icon [icon]="close" (click)="toggleModal(false, null)"></fa-icon></span>
                        <div class="user-details-edit" (click)="openUserDetails()">Edit User Details</div>
                    </div>
                    <div class="user-results">
                        <div class="user-results-header">Recent Test Results</div>
                        <div class="user-results-list" *ngIf="userresults[0].is_safe < 2">
                            <div class="user-results-card" [ngClass]="{'selected-card': i === selectedCard}" *ngFor="let item of userresults; let i = index" (click)="selectCard(i)">
                                <div class="card-detail"><span>Virus</span><span>{{item.virus}}</span></div>
                                <div class="card-detail"><span>Test</span><span>{{item.test}}</span></div>
                                <div class="card-detail"><span>Result</span><span>{{item.result}}</span></div>
                                <div class="card-detail"><span>Date</span><span>{{item.date_recorded}}</span></div>
                            </div>
                        </div>
                        <div *ngIf="userresults[0].is_safe === 2" class="no-results">No tests recorded</div>
                    </div>
                    <div class="user-test">
                        <div>
                            <div>Virus</div>
                            <select [(ngModel)]="selectedVirus" (ngModelChange)="changeVirus($event)">
                                <option *ngFor="let virus of virusdata; let j = index" [value]="virus.virusttypeid">{{virus.virus}}</option>
                            </select>
                        </div>
                        <div>
                            <div>Test Type</div>
                            <select [(ngModel)]="selectedTest" (ngModelChange)="changeTest($event)">
                                <option *ngFor="let test of testdata; let k = index" [value]="test.testtypeid">{{test.testName}}</option>
                            </select>
                        </div>
                        <div>
                            <div>Test Result</div>
                            <select [(ngModel)]="selectedResult">
                                <option *ngFor="let result of resultdata" [value]="result.resulttypeid">{{result.result}}</option>
                            </select>
                        </div>
                        <div>
                            <div>Test Date</div>
                            <input [(ngModel)]="selectedDate" type="datetime-local">
                        </div>
                        <div>
                            <mat-slide-toggle [(ngModel)]="selectedDownload" class="download-toggle">Enable download of certificate</mat-slide-toggle>
                        </div>
                        <div>
                            <div *ngIf="activeDownload === 1" [ngClass]="{'faded-text': downloading}" class="download-button" (click)="downloadFile(editGuid)">Download Certificate <fa-icon class="download-icon" [icon]="download"></fa-icon></div>
                            <div *ngIf="activeDownload === 1 && downloading" class="download-spinner"></div>
                        </div>
                    </div>
                    <div class="result-button-container" [ngClass]="{'select-add': selectedCard === 4}">
                        <button class="add-new-result" [ngClass]="{'unselect': selectedCard === 4}" (click)="selectCard(4)">Add New Test Result</button>
                    </div>
                    <div class="final-button-container">
                        <button class="add-new-result" *ngIf="selectedCard === 4" (click)="addResult()">Add Test</button>
                        <button class="add-new-result" *ngIf="selectedCard < 4" (click)="editResult()">Update Test</button>
                        <button class="add-new-result delete-result" *ngIf="selectedCard < 4" (click)="deleteTestModal = true">Delete Test</button>
                        <!-- <button class="add-new-result">Update Test Result</button> -->
                    </div>
                </div>
            </div>
            <div class="delete-user-modal" *ngIf="deleteUserModal">
                <div class="modal-bg" (click)="deleteUserModal = false"></div>
                <div class="delete-user-modal-container">
                    <div class="container-header">Are you sure you want to delete user {{active.firstname}} {{active.lastname}}?</div>
                    <div class="container-buttons">
                        <div class="delete-button" (click)="confirmDeleteUser()">Delete</div>
                        <div class="cancel-button" (click)="deleteUserModal = false">Cancel</div>
                    </div>
                </div>
            </div>
            <div class="delete-user-modal" *ngIf="deleteTestModal">
                <div class="modal-bg" (click)="deleteTestModal = false"></div>
                <div class="delete-user-modal-container">
                    <div class="container-header">Are you sure you want to this test result?</div>
                    <div class="container-buttons">
                        <div class="delete-button" (click)="deleteResult()">Delete</div>
                        <div class="cancel-button" (click)="deleteTestModal = false">Cancel</div>
                    </div>
                </div>
            </div>
            <div class="edit-user-modal" *ngIf="editUserModal">
                <div class="modal-bg" (click)="editUserModal = false"></div>
                <div class="edit-user-modal-container" [ngStyle]="{'height': facilitatorDetails.role === 'ApplicationAdmin' ? '53vh' : '42vh', 'top': facilitatorDetails.role === 'ApplicationAdmin' ? '24vh' : '29vh'}">
                    <div class="edit-user-data">
                        <div class="edit-user-info">
                            <label>First Name:</label><br>
                            <input type="text" [(ngModel)]="userDetails.firstname" />
                        </div>
                        <div class="edit-user-info">
                            <label>Last Name:</label><br>
                            <input type="text" [(ngModel)]="userDetails.lastname" />
                        </div>
                        <div class="edit-user-info">
                            <label>Email:</label><br>
                            <input type="text" [(ngModel)]="userDetails.email" />
                        </div>
                        <div class="edit-user-info">
                            <label>Contact Number:</label><br>
                            <input type="text" [(ngModel)]="userDetails.contact_number" />
                        </div>
                        <div class="edit-user-info">
                            <label>Birthday:</label><br>
                            <input matInput [matDatepicker]="picker" [value]="userDetails.birthday" (dateInput)="dateChange($event.value)" required readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                        <div class="edit-user-info">
                            <label>ID Number:</label><br>
                            <input type="text" [(ngModel)]="userDetails.valid_id" />
                        </div>
                        <div class="edit-user-info" *ngIf="facilitatorDetails.role === 'ApplicationAdmin'">
                            <mat-slide-toggle [(ngModel)]="isAdmin" class="download-toggle">Is Facilitator</mat-slide-toggle>
                        </div>
                        <div class="edit-user-info" *ngIf="facilitatorDetails.role === 'ApplicationAdmin'">

                        </div>
                        <div class="edit-user-info" *ngIf="facilitatorDetails.role === 'ApplicationAdmin'">
                            <label *ngIf="isAdmin">PRC Number</label><br>
                            <input *ngIf="isAdmin" type="text" [(ngModel)]="userDetails.prc_number" />
                        </div>
                    </div>
                    <div class="container-buttons">
                        <div class="edit-button" (click)="editUserDetails()">Update</div>
                        <div class="cancel-button" (click)="editUserModal = false">Cancel</div>
                    </div>
                </div>
            </div>
            <!-- <div class="dashboard-edituser">
                <div class="user-name">{{active.firstname}} {{active.lastname}}</div>
                <div class="user-mobile">{{active.contact_number}}</div>
                <div class="user-email">{{active.email}}</div>
                <div class="recent-test-results" *ngIf="active.email.length > 0 && activeResults">
                    <div class="recent-title">Recent Test Results</div>
                    <div class="test-results">
                        <div *ngIf="userresults[0].is_safe < 2">
                            <div class="test-result-card" *ngFor="let item of userresults; let i = index">
                                <div class="card-details">
                                    <div>{{item.virus}}</div>
                                    <div>{{item.test}}</div>
                                    <div>{{item.result}}</div>
                                    <div>{{item.date_recorded}}</div>
                                </div>
                                <div class="card-edit" (click)="editResults(i)">
                                    <fa-icon [icon]="edit" class="edit-link"></fa-icon>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="userresults[0].is_safe === 2" class="no-results">No tests recorded</div>
                    </div>
                    <button (click)="toggleAddNew()">Add New Test Result</button>
                </div>
                <div class="test-details" *ngIf="active.email.length > 0 && !activeResults">
                    <div>
                        <div>Virus</div>
                        <select [(ngModel)]="selectedVirus" (ngModelChange)="changeVirus($event)">
                            <option *ngFor="let virus of virusdata; let j = index" [value]="virus.virusttypeid">{{virus.virus}}</option>
                        </select>
                    </div>
                    <div>
                        <div>Test Type</div>
                        <select [(ngModel)]="selectedTest" (ngModelChange)="changeTest($event)">
                            <option *ngFor="let test of testdata; let k = index" [value]="test.testtypeid">{{test.testName}}</option>
                        </select>
                    </div>
                    <div>
                        <div>Test Result</div>
                        <select [(ngModel)]="selectedResult">
                            <option *ngFor="let result of resultdata" [value]="result.resulttypeid">{{result.result}}</option>
                        </select>
                    </div>
                    <div>
                        <div>Test Date</div>
                        <input [(ngModel)]="selectedDate" type="datetime-local">
                    </div>
                    <button (click)="activeResults = true" class="cancel-button">Cancel</button>
                    <button (click)="addResult()" *ngIf="addTest">Add Test Result</button>
                    <button (click)="editResult()" *ngIf="!addTest">Update Test Result</button>
                    <div class="success" *ngIf="showSuccess && addTest">Test Result was successfully added</div>
                    <div class="success" *ngIf="showSuccess && !addTest">Test Result was successfully updated</div>
                </div>
            </div> -->
        </div>
    </div>
</section>
