<section>
    <div class="main-container">
        <div class="account-sign-out" (click)="logout()"><fa-icon [icon]="signOut"></fa-icon>Log out</div>
        <!-- <fa-icon class="notification" [icon]="bell" [routerLink]="['/notifications']"></fa-icon> -->
        <img class="main-logo" src="../../../assets/images/Group 249.svg">
        <div class="main-sub-container">
            <div *ngIf="latestTest === 0" class="positive-text warning-text">Please isolate and retest after <strong>14 days</strong>.</div>
            <div class="user-info" [ngClass]="(latestTest === 1) ? 'negative-border' : (latestTest === 0) ? 'positive-border' : 'untested-border'">
                <div class="user-details" [ngClass]="(latestTest === 1) ? 'negative-bg' : (latestTest === 0) ? 'positive-bg' : 'untested-bg'">
                    <div class="user-name">{{user.first_name}} {{user.last_name}}</div>
                    <!-- <div class="user-address">Makati City, Metro Manila</div> -->
                    <div class="user-phone">{{user.mobile}}</div>
                </div>
                <div class="user-qr">
                    <!-- <img class="user-qr-image" [src]="qrCode"> -->
                    <ngx-qrcode
                        [elementType]="elementType"
                        [errorCorrectionLevel]="correctionValue"
                        [value]="qrvalue"
                    ></ngx-qrcode>
                </div>
            </div>
        </div>
        <div class="main-footer">
            <div>&nbsp;</div>
            <div class="footer-qr">
                <fa-icon [icon]="qrIcon"></fa-icon>
                <div>QR Code</div>
            </div>
            <div>&nbsp;</div>
            <div class="footer-account" [routerLink]="['/account']">
                <fa-icon [icon]="userCircle"></fa-icon>
                <div>Account</div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
</section>
