@import '../../../mobilestyles.scss';

.main-logo {
    position: absolute;
    top: 24px;
    right: 36px;
    height: 25px;
}
.main-container .notification {
    position: absolute;
    top: 24px;
    left: 38px;
    font-size: 20px;
    line-height: 25px;
    color: $secondaryColor;
}
.main-container .account-sign-out {
    position: absolute;
    top: 24px;
    left: 36px;
    line-height: 25px;
    font-size: 16px;
    color: $secondaryColor;
    fa-icon {
        margin-right: 4px;
    }
}
.main-sub-container {
    position: absolute;
    top: 10vh;
    background-color: white;
    width: 100%;
    border-radius: 10px 10px 0 0;
    .warning-text {
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
    }
    .user-info {
        margin: 40px 36px;
        border: 2px solid $secondaryColor;
        border-radius: 10px;
        .user-details {
            padding: 20px;
            color: white;
            background-color: $secondaryColor;
            .user-name {
                font-size: 25px;
                line-height: 33px;
                margin-bottom: 8px;
            }
            .user-address, .user-phone {
                font-size: 16px;
                line-height: 24px;
            }
        }
        .user-qr {
            padding: 16px 21px;
            text-align: center;
        }
    }
}

.main-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 73px;
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px;
    border-top: 1px solid $disabledColor;
    background-color: white;
    @media (min-width: 426px) {
        position: absolute;
    }
    .footer-qr, .footer-account {
        padding-top: 10px;
        font-size: 10px;
        display: grid;
        place-content: initial;
        text-align: center;
        color: $secondaryColor;
        border-top: 2px solid $secondaryColor;
        fa-icon {
            font-size: 22px;
            margin: auto;
        }
    }
    .footer-account {
        color: $disabledColor;
        border-top: none;
    }
}

.positive-bg {
    background-color: $positiveResult !important;
}
.positive-text {
    color: $positiveResult !important;
}
.positive-border {
    border-color: $positiveResult !important;
}
.negative-bg {
    background-color: $negativeResult !important;
}
.negative-text {
    color: $negativeResult !important;
}
.negative-border {
    border-color: $negativeResult !important;
}
.untested-bg {
    background-color: $secondaryColor !important;
}
.untested-text {
    color: $secondaryColor !important;
}
.untested-border {
    border-color: $secondaryColor !important;
}