@import '../../../mobilestyles.scss';

.main-container {
    width: 100%;
    height: 42vh;
    position: absolute;
    background-color: white;
    bottom: 0;
}

.logo-container {
    padding-top: 15vh;
    display: grid;
    place-items: center;
}

.set-password-2-container {
    border-radius: 10px 10px 0 0;
    padding: 40px 36px;
    
    .set-password-header {
        font-size: 25px;
        color: $primaryColor;
        font-weight: bold;
        margin-bottom: 12px;
        line-height: 33px;
    }
    .check-icon {
        color: $negativeColor;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-form-field-flex {
        padding: 0 16px;
    }
    .login-pass {
        width: 100%;
        height: 48px;
        padding: 0;
        margin: 0;
        border: 1px solid $disabledColor;
        border-radius: 5px;
        margin-bottom: 12px;
    }
    .login-button {
        width: 100%;
        height: 56px;
        display: grid;
        place-content: center;
        background-color: $disabledColor;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
    .password-header {
        font-size: 14px;
        line-height: 19px;
        color: $primaryColor;
        margin-bottom: 8px;
    }
    .password-under-text {
        margin-bottom: 32px;
        font-size: 14px;
        line-height: 19px;
    }
    .active-login-button {
        background-color: $primaryColor !important;
    }
}