<section>
    <div class="logo-container">
        <img src="../../../assets/images/Group 247.svg">
    </div>
    <div class="main-container">
        <div class="set-password-2-container">
            <form [formGroup]="passwordForm" (submit)="setPassword()">
                <div class="set-password-header">Set Password</div>
                <div class="password-header">Password</div>
                <mat-form-field class="login-pass" [ngClass]="{'input-error' : (passwordForm.controls.password.touched && passwordForm.controls.password.invalid)}">
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon class="password-hide" matSuffix (click)="togglePasswordVisible()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <div class="password-under-text">Minimum of 8 alphanumberic characters</div>
                <button class="login-button" [ngClass]="{'active-login-button': passwordForm.valid}" type="submit">
                    Save password
                </button>
            </form>
        </div>
    </div>
</section>
