<section>
    <div class="dashboard-header">
        <img src="../../../assets/images/Group 247.svg">
        <div class="tabs">
            <div class="tab tab-testresult" [routerLink]="['/dashboard']">
                Test Results
            </div>
            <div></div>
            <div class="tab tab-reports">
                Reports
            </div>
            <div></div>
            <div class="tab tab-account selected">
                Account
            </div>
        </div>
    </div>
    <div class="dashboard-selected"></div>
    <div class="adminaccount-content">
        <div class="logout" (click)="logout()">Logout</div>
    </div>
</section>