@import "../../../adminstyles.scss";

.dashboard-header {
    height: 5vh;
    padding: 10px;
    background-color: $primaryColor;
    display: grid;
    grid-template-columns: 200px 10px 1fr;
    img {
        height: 5vh;
        background-color: white;
        padding: 10px 10px 10px 10px;
        margin-top: -10px;
        margin-left: -10px;
    }
    .tabs {
        display: grid;
        grid-template-columns: 10vw 10px 10vw 10px 10vw 1fr;
        margin-top: 10px;
        .tab {
            color: white;
            display: grid;
            place-content: center;
            cursor: pointer;
        }
        .selected {
            background-color: $secondaryColor;
            border-radius: 10px 10px 0 0;
        }
    }
}
.dashboard-selected {
    background-color: $secondaryColor;
    height: 10px;
}
.adminaccount-content {
    margin-top: 4vh;
    width: 90%;
    margin-left: 5%;
    font-family: Roboto;
    .logout {
        background-color: $primaryColor;
        color: white;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        width: fit-content;
    }
}