<section class="download-section">
    <div class="logo-container">
        <img src="../../../assets/images/Group 247.svg">
    </div>
    <div class="download-text">
        We can fight the spread of the virus <strong>together.</strong>
    </div>
    <div class="links-container" (click)="openLink()">
        Download the app
    </div>
    <div class="download-text-2">
        <div>Available for both Android and iOS.</div><br>
        <!-- <div> You can also create an account through your web browser. <span class="download-link">Click here</span>.</div> -->
    </div>
</section>
