@import '../../../mobilestyles.scss';

.download-section {
    padding: 48px;
}

.logo-container {
    padding-top: 11px;
    display: grid;
    place-items: center;
    margin-bottom: 10vh;
    max-width: 42%;
    img {
        width: 100%;
    }
}

.download-text {
    font-size: 39px;
    line-height: 52px;
    color: #1d4552;
}
.links-container {
    margin-top: 32px;
    margin-bottom: 24px;
    padding: 13px 28px;
    background-color: $primaryColor;
    border-radius: 5px;
    width: max-content;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
}

.download-text-2 {
    font-size: 10px;
    line-height: 15px;
    color: #1d4552;
    max-width: 42%;
    .download-link {
        color: $primaryColor;
        font-weight: bold;
    }
}