<section>
    <div class="account-container">
        <div class="account-sign-out" (click)="logout()"><fa-icon class="notification" [icon]="signOut"></fa-icon>Log out</div>
        <img src="../../../assets/images/Group 249.svg">
        <div class="account-sub-container">
            <div class="test-tabs">
                <div>&nbsp;</div>
                <div class="account-profile" [routerLink]="['/account']">
                    <div class="account-profile-text">PROFILE</div>
                </div>
                <div class="account-test" [routerLink]="['/testresults']">
                    <div class="account-test-text">TEST RESULT</div>
                </div>
                <div>&nbsp;</div>
            </div>
            <div class="account-pages">
                <div class="account-pages-container">
                    <div class="test-page">
                        <div class="test-details" [ngClass]="(latestResult === 1) ? 'negative-bg' : (latestResult === 0) ? 'positive-bg' : 'untested-bg'">
                            <div class="test-name">{{user.first_name}} {{user.last_name}}</div>
                            <!-- <div class="test-address">Makati City, Metro Manila</div> -->
                            <div class="test-phone">{{user.mobile}}</div>
                        </div>
                        <div class="test-results-details" [ngClass]="(latestResult === 1) ? 'negative-border' : (latestResult === 0) ? 'positive-border' : 'untested-border'">
                            <div class="test-result-recent" *ngIf="latestResult < 2">
                                <div *ngIf="latestResult === 1" class="test-results negative-text"><fa-icon [icon]="minus"></fa-icon> NEGATIVE</div>
                                <div *ngIf="latestResult === 0" class="test-results positive-text"><fa-icon [icon]="plus"></fa-icon> POSITIVE</div>
                                <div class="test-type">{{testResults[0].test}}</div>
                                <div class="test-date">{{testResults[0].date_recorded}}</div>
                                <div *ngIf="testResults[0].downloadAvailable === 1" class="download-button" (click)="downloadFile(testResults[0].guid)">Download Certificate <fa-icon class="download-icon" [icon]="download"></fa-icon></div>
                            </div>
                            <div class="test-result-second" *ngIf="testResults[1]">
                                <div *ngIf="testResults[1].is_safe === 1" class="test-results negative-text">NEGATIVE</div>
                                <div *ngIf="testResults[1].is_safe === 0" class="test-results positive-text">POSITIVE</div>
                                <div class="test-type">{{testResults[1].test}}</div>
                                <div class="test-date">{{testResults[1].date_recorded}}</div>
                                <div *ngIf="testResults[1].downloadAvailable === 1" class="download-button" (click)="downloadFile(testResults[1].guid)">Download Certificate <fa-icon class="download-icon" [icon]="download"></fa-icon></div>
                            </div>
                            <div class="test-result-recent" *ngIf="testResults.length === 0">
                                <div class="test-results untested-text"><fa-icon [icon]="untested"></fa-icon> NOT TESTED</div>
                            </div>
                        </div>
                        <div class="test-refresh" (click)="refreshResults()"><fa-icon [icon]="refresh"></fa-icon> Refresh results</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div>&nbsp;</div>
        <div class="footer-qr" [routerLink]="['/main']">
            <fa-icon [icon]="qrIcon"></fa-icon>
            <div>QR Code</div>
        </div>
        <div>&nbsp;</div>
        <div class="footer-account">
            <fa-icon [icon]="userCircle"></fa-icon>
            <div>Account</div>
        </div>
        <div>&nbsp;</div>
    </div>
</section>