<section>
    <div class="account-container">
        <div class="account-sign-out" (click)="logout()"><fa-icon class="notification" [icon]="signOut"></fa-icon>Log out</div>
        <img src="../../../assets/images/Group 249.svg">
        <div class="account-sub-container">
            <div class="account-tabs">
                <div>&nbsp;</div>
                <div class="account-profile" [routerLink]="['/account']">
                    <div class="account-profile-text">PROFILE</div>
                </div>
                <div class="account-test" [routerLink]="['/testresults']">
                    <div class="account-test-text">TEST RESULT</div>
                </div>
                <div>&nbsp;</div>
            </div>
            <div class="account-pages">
                <div class="account-pages-container">
                    <form [formGroup]="accountForm">
                        <div class="profile-page">
                            <!-- <div class="profile-edit" (click)="toggleEdit()"><fa-icon [icon]="edit"></fa-icon> Edit profile</div> -->
                            <div class="profile-header">Email Address</div>
                            <input [attr.disabled]="editForm ? null : ''" class="profile-input" type="text" [value]="user.email" required/>
                            <div class="profile-header">Mobile Number</div>
                            <mat-form-field class="profile-input">
                                <input formControlName="mobileNumber" matInput type="tel" [value]="user.mobile" required/>
                                <!-- <mat-icon matSuffix class="check-icon">check_circle</mat-icon> -->
                            </mat-form-field>
                            <!-- <div class="profile-header">Password</div>
                            <mat-form-field class="profile-input">
                                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
                                <mat-icon class="password-hide" matSuffix (click)="togglePasswordVisible()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field> -->
                            <div class="profile-header">First Name</div>
                            <input [attr.disabled]="editForm ? null : ''" class="profile-input" [value]="user.first_name" required>
                            <div class="profile-header">Last Name</div>
                            <input [attr.disabled]="editForm ? null : ''" class="profile-input" [value]="user.last_name" required>
                            <div class="profile-header">Date of Birth</div>
                            <input [attr.disabled]="editForm ? null : ''" class="profile-input" [value]="user.birthday" required>
                            <!-- <div class="profile-header">Address</div>
                            <div class="profile-header">City / Municipality</div>
                            <input [attr.disabled]="editForm ? null : ''" class="profile-input" [type]="text" required>
                            <div class="profile-header">Province</div>
                            <input [attr.disabled]="editForm ? null : ''" class="profile-input" [type]="text" required> -->
                            <!-- <div class="profile-header">National ID / Passport Number</div>
                            <input [attr.disabled]="editForm ? null : ''" class="profile-input" [value]="user.idNum" required> -->
                            <!-- <div class="profile-header">Picture of National ID / Passport</div>
                            <div class="profile-id"> -->
                                <!-- <div class="profile-id-text"><mat-icon class="camera-icon">camera_alt</mat-icon>Picture ID</div> -->
                                <!-- <img [src]="user.idCard" class="profile-img">
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div>&nbsp;</div>
        <div class="footer-qr" [routerLink]="['/main']">
            <fa-icon [icon]="qrIcon"></fa-icon>
            <div>QR Code</div>
        </div>
        <div>&nbsp;</div>
        <div class="footer-account">
            <fa-icon [icon]="userCircle"></fa-icon>
            <div>Account</div>
        </div>
        <div>&nbsp;</div>
    </div>
</section>