<section>
    <div class="logo" [routerLink]="['/home']">
        <img src="../../../assets/images/Group 249.svg">
    </div>
    <div class="container">
        <h2>Privacy Notice</h2>

        <p>VPASS is an application that can be downloaded and installed on your mobile devices and accessed online. After registration, a secured QR code will be generated and shown on your screen that people can scan using any QR Code readers, to get information described in this Privacy Policy.</p>
    
        <p>This allows you to share your validated health profile and declaration. We <strong>protect your privacy</strong> and ensure that <strong>you have control over your data.</strong></p>
    
        <p>The <strong>data controller</strong> of this application is the LABx Corp. </p>

        <p>Data Processor are as follows:</p>

        <span class="indent">1.</span><span>LABx Corp. – Owner of the application</span><br>
        <span class="indent">2.</span><span>Accredited Testing Centers of LABx Corp.</span><br>
        
        <p><strong>We Store Limited Data:</strong></p>

        <p>We have limited data collection. A random user identifier is also generated using hash technology when you sign up and data are encrypted before we save in our database. Both mobile numbers and user id is stored in a secure cloud server and never shown in public.</p>

        <p>We also collect and store the following:</p>

        <span class="indent">1.</span><span>Email</span><br>
        <span class="indent">2.</span><span>Mobile Number</span><br>
        <span class="indent">3.</span><span>Complete Name</span><br>
        <span class="indent">4.</span><span>Birthday</span><br>
        <span class="indent">5.</span><span>ID Number and Image</span><br>
        <span class="indent">6.</span><span>Test History</span><br>

        <p>People may only access your health profile once you allow them to scan your digital/ physical QR code. We record every person who scans your QR code as well.</p>

        <p>We understand your rights as a data subject and we adhere to the rights of every citizen with the following rights:</p>

        <span class="indent">1.</span><span>Right to Informed</span><br>
        <span class="indent">2.</span><span>Right to be Object</span><br>
        <span class="indent">3.</span><span>Right to Access</span><br>
        <span class="indent">4.</span><span>Right to Portability</span><br>
        <span class="indent">5.</span><span>Right to Correct</span><br>
        <span class="indent">6.</span><span>Right to Block / Remove</span><br>
        <span class="indent">7.</span><span>Right to Complaint</span><br>
        <span class="indent">8.</span><span>Right to be indemnified</span><br>

        <p>If you provide us with Data:</p>

        <div class="flex-indent">
            <div class="indent">1.</div><div>We may process, interpret and disclose findings with the Philippine Government and accredited testing centers in connection with your use of VPASS, unless such sharing is prohibited by written law</div>
        </div>
        <br><br>
        <div class="flex-indent">
            <div class="indent">2.</div><div>We may store the above data submitted to our system for a limited time of five (5) years.</div>
        </div>

        <p>Data of third party individuals</p>

        <div class="flex-indent">
            <div class="indent">1.</div><div>In the course of your Use of VPASS, we may collect Data relating to other individuals from you.</div>
        </div>
        <div class="flex-indent indent">
            <div class="indent">1.</div><div>You shall, prior to disclosing to us such Data relating to other individuals -</div>
        </div>
        <div class="flex-indent indent2">
            <div class="indent">1.</div><div>Inform these individuals of such action and the purpose of sharing their personal data, as set out in this Privacy Statement and as notified by us to you; and</div>
        </div>
        <div class="flex-indent indent2">
            <div class="indent">2.</div><div>Ask for the consent from the individuals whose personal data are being disclosed.</div>
        </div>
        <div class="flex-indent indent">
            <div class="indent">2.</div><div>You represent and warrant that -</div>
        </div>
        <div class="flex-indent indent2">
            <div class="indent">1.</div><div>The personal data that you will be providing us or have provided us is, complete, accurate, true and correct; and</div>
        </div>
        <div class="flex-indent indent2">
            <div class="indent">2.</div><div>You have the valid authority and consent from these individuals to act on their behalf and provide their personal data to us to collect, use, disclose and process for the Purposes.</div>
        </div>

        <p>How we handle and manage your Data</p>

        <div class="flex-indent">
            <div class="indent">1.</div><div>Your Data may be stored in servers, systems or devices owned, operated or managed by us, a relevant Third Party or any third party service provider engaged by us or a relevant Third Party, or on your Device, and may be used by us (or our third party service providers) and Approved Service Providers to facilitate your Use of VPASS.</div>
        </div>
        <br><br>
        <div class="flex-indent">
            <div class="indent">2.</div><div>You may withdraw your consent to the use and disclosure of Data by us with reasonable notice; however, doing so may prevent proper Use of VPASS, or any part thereof and may also result in the cessation of your Use of VPASS, or any part thereof. We may retain, use, disclose and process your Data for any of the Purposes set out herein where permitted under any applicable law</div>
        </div>

        <p><strong>Privacy Policy</strong></p>

        <p>VPASS does not collect other data other than the mentioned above. Controlled and limited data are only shared only when you allow others to scan your QR Code</p>

        <p><strong>Third Party Privacy Policy</strong></p>

        <p>VPASS privacy policy does not apply to other advertisers or websites. VPASS does not have advertising feature, making third party’s’ privacy policies not applicable in VPASS to begin with</p>

        <p><strong>Children’s Information</strong></p>

        <p>VPASS collects birthdays. If you think that your child provided this kind of information on our application, we encourage you to contact us immediately and we will remove such information from our records.</p>

        <p>We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

        <p><strong>Consent</strong></p>

        <p>By using our application, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>

        <p>For any inquiries on our privacy, statement, and practices, including how you can exercise your rights as a data subject, you may contact us through:</p>

        <div>Data Controller Officer</div>
        <div>Email: <a href="mailto:developer@labx.asia">developer@labx.asia</a></div>
    </div>
</section>