@import '../../../mobilestyles.scss';

.logo {
    position: relative;
    display: flex;
    background-color: $bgColor;
    img {
        text-align: right;
        margin: 20px 20px 20px auto;
    }
}

.container {
    padding: 20px;
    border-top: 1px solid $disabledColor;
    background-color: white;
    .indent{
        margin-left: 2vw;
        margin-right: 1vw;
    }
    
    .indent2{
        margin-left: 4vw;
        margin-right: 2vw;
    }
    
    .flex-indent{
        display: inline-flex;
    }
}