<section>
    <div class="notification-container">
        <div class="back" [routerLink]="['/main']"><fa-icon [icon]="back"></fa-icon> Back</div>
        <img src="../../../assets/images/Group 249.svg">
        <div class="notification-sub-container">
            <div class="notification-header">Notifications</div>
            <!-- <div class="notification-item">
                <div class="notification-new">•</div>
                <div class="notification-text">Your test result has been updated</div>
                <div class="notification-date">23/11/2020</div>
            </div> -->
        </div>
        <div class="main-footer">
            <div>&nbsp;</div>
            <div class="footer-qr">
                <fa-icon [icon]="qrIcon"></fa-icon>
                <div>QR Code</div>
            </div>
            <div>&nbsp;</div>
            <div class="footer-account">
                <fa-icon [icon]="userCircle"></fa-icon>
                <div>Account</div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
</section>
