@import '../../../mobilestyles.scss';

.notification-container img {
    position: absolute;
    top: 24px;
    right: 36px;
    height: 25px;
}
.notification-container .back {
    position: absolute;
    top: 24px;
    left: 36px;
    line-height: 25px;
    font-size: 16px;
    color: $secondaryColor;
    fa-icon {
        margin-right: 4px;
    }
}
.notification-sub-container {
    position: absolute;
    top: 10vh;
    height: 90vh;
    background-color: white;
    width: 100%;
    border-radius: 10px 10px 0 0;
    .notification-header {
        padding: 24px 36px 32px 36px;
        font-size: 25px;
        line-height: 33px;
        border-bottom: 1px solid $borderColor;
        color: $secondaryColor;
    }
    .notification-item {
        display: grid;
        grid-template-columns: 36px 1fr 25vw;
        font-size: 14px;
        line-height: 19px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $borderColor;
        color: $secondaryColor;
        font-weight: bold;
        .notification-new {
            font-weight: bold;
            display: grid;
            place-content: center;
            font-size: 30px;
            color: $primaryColor;
        }
    }
}

.main-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 73px;
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px;
    border-top: 1px solid $disabledColor;
    .footer-qr, .footer-account {
        padding-top: 10px;
        font-size: 10px;
        display: grid;
        place-content: initial;
        text-align: center;
        color: $secondaryColor;
        border-top: 2px solid $secondaryColor;
        fa-icon {
            font-size: 22px;
            margin: auto;
        }
    }
}