$primaryColor: #F97200;
$secondaryColor: #1D4552;
$tertiaryColor: #1E9879;
$textColor: #464646;
$disabledColor: #C4C4C4;
$errorColor: #E50000;
$positiveResult: #A30000;
$negativeResult: #1E9879;
$negativeColor: #00CB97;
$bgColor: #F7F7F7;
$shadowColor: #00000029;
$borderColor: #DEDEDE;

@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}