$primaryColor: #F97200;
$secondaryColor: #1D4552;
$tertiaryColor: #1E9879;
$textColor: #464646;
$disabledColor: #C4C4C4;
$errorColor: #E50000;
$positiveResult: #A30000;
$negativeResult: #1E9879;
$negativeColor: #00CB97;
$bgColor: #F7F7F7;
$shadowColor: #00000029;
$borderColor: #DEDEDE;

body {
    background-image: linear-gradient($bgColor, white, white);
    max-width: 425px;
    position: relative;
    min-height: 350px;
    @media (min-width: 426px) {
        margin: auto !important;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }