<section>
    <div class="logo" [routerLink]="['/home']">
        <img src="../../../assets/images/Group 249.svg">
    </div>
    <div class="container">
        <h2>Terms and Conditions</h2>

        <p>Last Update: February 22, 2021</p>

        <p><strong>Interpretation and Definitions</strong></p>

        <strong>Interpretation</strong>

        <p>The words of which the initial letter is capitalized have meanings defined under the following conditions.</p>

        <p>The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>

        <p><strong>Definitions</strong></p>
        <p>For the purposes of these Terms and Conditions</p>

        <div class="flex-indent">
            <span class="indent">•</span><span><strong>Application</strong> refers to VPASS</span><br>
        </div>
        <div class="flex-indent">
            <span class="indent">•</span><span><strong>LABx Corp. / Company</strong> refers to the owner of VPASS</span><br>
        </div>
        <div class="flex-indent">
            <span class="indent">•</span><span><strong>Country</strong> refers to The Philippines</span><br>
        </div>
        <div class="flex-indent">
            <span class="indent">•</span><span><strong>Terms and Conditions</strong> (also referred as "Terms") mean these Terms and Conditions that form the entire agreement between <strong>You</strong> and the <strong>Company</strong> regarding the use of the Service. This Terms and Conditions agreement has been created with the help of Terms and Conditions Generator.</span><br>
        </div>
        <div class="flex-indent">
            <span class="indent">•</span><span><strong>You</strong> refers to the individual using VPASS, or the company and all other legal entities on behalf of which such individual is accessing or using the application</span><br>
        </div>
        
        <p><strong>Acknowledgement</strong></p>

        <p>These are the Terms and Conditions governing the use of this Application and the agreement that operates between You and <strong>LABx Corp</strong>. These Terms and Conditions set out the rights and obligations of all users regarding the use of the Service.</p>

        <p>Your access to and use of the Application is conditioned on Your acceptance of and compliance with these Terms and Conditions. These Terms and Conditions apply to all visitors, users and others who access or use the Application.</p>

        <p>By accessing or using the Application, You agree to be bound by these Terms and Conditions. If You disagree, You may not access the Application.</p>

        <p>Your access to and use of the Application is also conditioned on Your acceptance of and compliance with the Privacy Policy of <strong>LABx Corp</strong>. Our Privacy Policy describes Our policies and procedures on the collection and use and disclosure of Your personal information when You use the Application and tells You about Your privacy rights and how the law protects You. Please read Our Privacy Policy carefully before using the Application.</p>

        <p><strong>Termination</strong></p>

        <p>We may terminate or suspend Your access immediately, without prior notice or liability, for any reason whatsoever, including without limitation if You breach these Terms and Conditions.</p>

        <p>Upon termination, Your right to use the Application will cease immediately.</p>

        <p><strong>Limitation of Liability</strong></p>

        <p>Notwithstanding any damages that You might incur, the entire liability of <strong>LABx Corp.</strong> and any of its suppliers under any provision of this Terms and Your exclusive remedy for all of the foregoing shall be limited to the amount actually paid by You through the Application Service or PHP 500 if You haven't purchased anything through the Application</p>

        <p>To the maximum extent permitted by applicable law, in no event shall the Company or its suppliers be liable for any special, incidental, indirect, or consequential damages whatsoever (including, but not limited to, damages for loss of profits, loss of data or other information, for business interruption, for personal injury, loss of privacy arising out of or in any way related to the use of or inability to use the Service, third-party software and/or third-party hardware used with the Application, or otherwise in connection with any provision of this Terms), even if the <strong>LABx Corp.</strong> or any supplier has been advised of the possibility of such damages and even if the remedy fails of its essential purpose.</p>

        <p><strong>Governing Law</strong></p>

        <p>The laws of the Country, excluding its conflicts of law rules, shall govern this Terms and Your use of the Service. Your use of the Application may also be subject to other local, state, national, or international laws.</p>

        <p><strong>Disputes Resolution</strong></p>

        <p>If You have any concern or dispute about the Application, You agree to first try to resolve the dispute informally by contacting the Company.</p>

        <p><strong>Severability and Waiver</strong></p>

        <p>Severability</p>

        <p>If any provision of these Terms is held to be unenforceable or invalid, such provision will be changed and interpreted to accomplish the objectives of such provision to the greatest extent possible under applicable law and the remaining provisions will continue in full force and effect.</p>

        <p>Waiver</p>

        <p>Except as provided herein, the failure to exercise a right or to require performance of an obligation under this Terms shall not effect a party's ability to exercise such right or require such performance at any time thereafter nor shall be the waiver of a breach constitute a waiver of any subsequent breach.</p>

        <p><strong>Translation Interpretation</strong></p>

        <p>These Terms and Conditions may have been translated if We have made them available to You on our Service.</p>

        <p>You agree that the original English text shall prevail in the case of a dispute.</p>

        <p><strong>Changes to These Terms and Conditions</strong></p>

        <p><strong>LABx Corp.</strong> reserves the right to modify and/or replace these Terms and Conditions.</p>

        <p>We reserve the right, at Our discretion, to modify or replace these Terms at any time. If a revision is material We will make reasonable efforts to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at Our sole discretion.</p>

        <p>By continuing to access or use Our Service after those revisions become effective, You agree to be bound by the revised terms. If You do not agree to the new terms, in whole or in part, please stop using the website, application and the Service.</p>

        <p><strong>Contact Us</strong></p>

        <p>If you have any questions about these Terms and Conditions, You can contact us at <a href="mailto:developer@labx.asia">developer@labx.asia</a></p>
    </div>
</section>
