@import '../../../adminstyles.scss';

.logo-container {
    padding-top: 15vh;
    display: grid;
    place-items: center;
}

.reset-container {
    // background-color: white;
    // border-radius: 10px 10px 0 0;
    // padding: 40px 36px;
    // position: absolute;
    // height: 50vh;
    // bottom: 0;
    // box-shadow: 0 3px 6px $shadowColor;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .password-instructions {
        width: 50vw;
        margin: auto;
        margin-top: 8vh;
        font-size: 18px;
        line-height: 23px;
        color: $secondaryColor;
    }
    .new-pass, .repeat-pass {
        width: 50vw;
        height: 48px;
        padding: 0;
        margin: auto;
        border: 1px solid $disabledColor;
        border-radius: 5px;
        margin-bottom: 12px;
        display: block;
    }
    .new-pass {
        margin-top: 3vh;
    }
    .input-error {
        border: 1px solid red;
    }
    .check-icon {
        color: $negativeColor;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-form-field-flex {
        padding: 0 16px;
    }
    .reset-button {
        width: 50vw;
        height: 56px;
        display: grid;
        place-content: center;
        background-color: $disabledColor;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        margin: auto;
        margin-top: 5vh;
        border: none;
    }
    .active-button {
        background-color: $primaryColor !important;
    }
    .not-matching {
        width: 50vw;
        margin: auto;
        color: $positiveResult;
    }
    .success {
        width: 50vw;
        margin: auto;
        margin-top: 5vh;
        color: $secondaryColor;
    }
}