<section>
    <div class="logo-container">
        <img src="../../../assets/images/Group 247.svg">
    </div>
    <div class="reset-container">
        <div class="reset-input-container">
            <div class="password-instructions" *ngIf="!hideFields">Enter a new password with a minimum of 8 characters</div>
            <form [formGroup]="resetForm" (submit)="reset()">
                <mat-form-field class="new-pass" *ngIf="!hideFields">
                    <mat-label>Enter new password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon class="password-hide" matSuffix (click)="togglePasswordVisible()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <mat-form-field class="repeat-pass" *ngIf="!hideFields">
                    <mat-label>Repeat password</mat-label>
                    <input matInput formControlName="repeatpassword" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon class="password-hide" matSuffix (click)="togglePasswordVisible()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <div class="not-matching" *ngIf="!checkMatching()">Passwords do not match</div>
                <div class="not-matching" *ngIf="response === 2">Error resetting password. Please check your reset link.</div>
                <div class="success" *ngIf="response === 1">Password successfully reset</div>
                <button class="reset-button" [disabled]="!resetForm.valid" [ngClass]="{'active-button': resetForm.valid}" type="submit" *ngIf="!hideFields">
                    Reset Password
                </button>
            </form>
        </div>
    </div>
</section>